extends layout

block content
  h1= title
  p Welcome to #{title}

  ul
    li: a(href="/works/nu-pogodi/index.html") Баннер - "Ну погоди!"
    li: a(href="/works/imap/index.html") Интерактивная карта России
