extends layout

block content
  h1= title
  p Welcome to #{title}

  ul
    li: a(href="/works/nu-pogodi/index.html") html/css3 Banner - "Ну погоди!" ("Just you wait!")
    li: a(href="/works/imap/index.html") Интерактивная карта России
