
body {
	font-family: Arial, sans-serif;
}
.title {
	text-align: center;
}
ul {
	list-style: none;
}

svg {
	display: block;
}

#map-wrapper {
	width: 722px;
	height: 560px;
	margin: 0 auto;
}

path {
	stroke: white;
	stroke-width: 0;
}

.district {
}

.region {
}

.city {
	display: none;
	font: 10px sans-serif;
	font-weight: bold;
}

.city_link {
	text-decoration: none;
}

.city_link:hover {
	text-decoration: underline;
}

.city_link text {
	font-size: 18px;
	color: #333;
	fill: #333;
	text-shadow: 0 0 10px #fff;
}

.city_link circle {
	stroke: #333;
	stroke-width: 4px;
	fill: #f00;
}

.with_cities_marker {
	pointer-events: none;
}

.with_cities_marker_image {
	opacity: 0;
	display: none;
}

.markers {
	/*display: none;*/
}

div.tooltip {
	position: absolute;
	text-align: center;
	min-width: 100px;
	padding: 2px 4px;
	font-size: 12px;
	background: #FFFFFF;
	border: 1px;
	border-radius: 4px;
	pointer-events: none;
	opacity: 0;
	z-index: 999;
	-webkit-transition: opacity .2s ease;
	-moz-transition: opacity .2s ease;
	-ms-transition: opacity .2s ease;
	-o-transition: opacity .2s ease;
	transition: opacity .2s ease;
	text-shadow: 0 0 5px #fff;
	white-space: nowrap;
	box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.5)
}